.cadastro {
  max-width: 50%;
}

.inputs-cadastro {
  display: flex;
  justify-content:space-around;
}

.input-box input{
  padding: 0.5rem;
  margin: 1rem;
  min-width: 100%;
}

.input-box {
  width: 100%;
  margin: 1rem;
}